.max-width-md {
    max-width: 768px;
}

.article img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article blockquote {
    padding: 0 1em;
    color: gray;
    border-left: .25em solid gray;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}
